.design-bg {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.75) 0%,
			rgba(0, 0, 0, 0.9) 100%
		),
		url(/assets/img/design.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.design {
	display: grid;
	gap: 74px;
	grid-template-columns: 411px 1fr;
}

.design__choice {
	display: flex;
	flex-direction: column;
	padding-top: 140px;
	padding-bottom: 90px;
}

.design__choice-title {
	font-family: "YesevaOne";
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	margin-bottom: 36px;
	color: var(--color-gold);
}

.design__choice-list {
	font-size: 20px;
	line-height: 38px;
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.design__choice-list-item:hover {
	color: var(--color-gold);
	text-decoration: underline;
}

.design__gallery {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(12, 1fr);
	height: calc(100% + 80px);
	margin-top: -40px;
	gap: 40px;
}

.design__gallery > div:nth-child(1) {
	grid-column: 1/4;
	grid-row: 1/8;
}

.design__gallery > div:nth-child(3) {
	grid-column: 1/4;
	grid-row: 8/13;
}

.design__gallery > div:nth-child(2) {
	grid-column: 4/7;
	grid-row: 1/5;
}

.design__gallery > div:nth-child(4) {
	grid-column: 4/7;
	grid-row: 5/13;
}

.design__gallery > * {
	background-color: aquamarine;
}

.design__gallery > *:nth-child(even) {
	margin-top: -70px;
	margin-bottom: 70px;
}
@media screen and (min-width: 1300px) {
	.design__small-gallery {
		display: none;
	}
}

@media screen and (max-width: 1299px) {
	.design__small-gallery {
		height: 240px;
		width: 100%;
		position: relative;
		background-image: url(/assets/img/slider.png);
		z-index: 1;
	}

	.design__choice {
		position: absolute;
		padding-top: 0;
		padding-bottom: 0;
		top: -215px;
		width: 100%;
	}

	.design__choice-title {
		text-align: center;
		font-size: 22px;
		line-height: 138.6%;
	}

	.design__choice-list {
		display: none;
	}

	.design__gallery {
		display: none;
	}
}
