.header-section {
	background-color: var(--bg-black);
}

.header__wrap {
	width: 1256px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-size: 11px;
	line-height: 15px;
	column-gap: 100px;
	text-transform: uppercase;
	height: 83px;
	align-items: center;
}

.header__logo {
	width: 180px;
	color: var(--color-gold);
}

.header__nav {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.header__nav-item {
	color: var(--color-white);
	cursor: pointer;
}

.header__nav-item:hover {
	color: var(--color-gold);
}

.header__contact {
	display: flex;
	gap: 45px;
	align-items: center;
}

.header__contact a {
	color: var(--color-gold);
	text-decoration: underline;
}

.header__button {
	height: 37px;
	padding-left: 33px;
	padding-right: 33px;
}

@media screen and (max-width: 1299px) {
	.header__wrap {
		width: calc(100% - 36px);
		padding-left: 18px;
		padding-right: 18px;
		column-gap: 0;
		height: 57px;
	}

	.header-nav {
		width: 100%;
	}

	.header__nav,
	.header__button {
		display: none;
	}
}
